@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
html {
  position: relative;
  min-height: 100%; }

body {
  min-width: 970px;
  margin-bottom: 50px; }

.block {
  display: block; }

.display-hide {
  display: none; }

.form-last {
  margin-bottom: 0; }

.first {
  padding-left: 0; }

.mt-15 {
  margin-top: 15px; }

.mr-10 {
  margin-right: 10px; }

.ml-10 {
  margin-left: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pb-15 {
  padding-bottom: 15px; }

.pt-0 {
  padding-top: 0 !important; }

.pointer {
  cursor: pointer; }

.no-link, .no-link:hover {
  color: #FFFFFF;
  text-decoration: none; }

.seperator {
  border-bottom: 1px solid #DDDDDD; }

h1 {
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 1.3rem 0; }

.popover {
  background-color: #FFFFFF;
  color: #222222;
  border: 1px solid #BBBBBB;
  max-width: 350px;
  max-height: 500px;
  overflow: auto; }
  .popover .notification-content p {
    margin-bottom: 0; }

/* Set the fixed height of the footer here */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #A9DEF0; }
  #footer p {
    margin-top: 1.3rem; }

#header {
  height: 70px;
  background-color: #004156;
  color: #FFFFFF; }
  #header .profile {
    padding-top: 1rem; }
  #header .notification-icon {
    font-size: 1.5em;
    padding-top: 20px; }
  #header .badge {
    margin-bottom: 15px;
    vertical-align: middle;
    padding: 3px 5px;
    background-color: #F17F6A;
    color: #000000; }
  #header .glyphicon-bell {
    margin-right: .5rem; }
  #header .header-links a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    padding: 25px 15px; }
    #header .header-links a:hover, #header .header-links a:focus {
      background-color: #ffe9b4;
      color: #004156; }

.container {
  width: 970px;
  position: relative;
  max-width: none !important;
  padding-left: 0;
  padding-right: 0;
  height: 100%; }

.login-container {
  padding-top: 60px; }
  .login-container h1 {
    color: #004156;
    margin-bottom: 60px; }
  .login-container h4 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px; }
  .login-container .sidequote {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    color: #004156; }
  .login-container .no-p {
    position: static; }
  .login-container .login-well {
    border: 1px solid #BBBBBB; }

.main .left-nav {
  padding-top: 1rem;
  padding-right: 0; }
  .main .left-nav li.active a, .main .left-nav li.active a:hover, .main .left-nav li.active a:focus {
    background-color: #004156; }
  .main .left-nav a {
    color: #004156; }
  .main .left-nav hr {
    margin-top: 1rem;
    margin-bottom: 1rem; }
.main .main-content {
  padding-top: 2rem; }
  .main .main-content h3 {
    margin-top: 0; }
  .main .main-content .row {
    margin-left: 0;
    margin-top: 2rem; }
  .main .main-content .row-top {
    margin-top: 0; }
  .main .main-content .row-right {
    margin-right: 0; }
  .main .main-content .form-heading {
    margin-top: 0;
    margin-bottom: 15px; }
  .main .main-content .inline-control {
    width: 150px; }
  .main .main-content .label-right {
    margin-left: 1rem; }
  .main .main-content .row-first {
    margin-top: 4rem; }
  .main .main-content .badge-green {
    background-color: lightgreen; }
  .main .main-content .badge-red {
    background-color: orangered; }
  .main .main-content .badge-yellow {
    background-color: yellow; }
  .main .main-content .badge {
    color: #000000; }
  .main .main-content .filter-well {
    background-color: #ffe9b4; }
  .main .main-content .border-b {
    border-bottom: 1px solid #dddddd; }
  .main .main-content .bold-subhead {
    font-size: 16px;
    font-weight: bold; }
  .main .main-content .note-box .note-content {
    margin-left: -10px; }
  .main .main-content .to-do .well {
    margin-bottom: 10px; }
  .main .main-content .to-do .todo-head {
    display: inline-block;
    padding-bottom: 5px; }
  .main .main-content .to-do .overdue .todo-date {
    color: red; }
  .main .main-content .to-do .overdue .well {
    border: 1px solid red; }
  .main .main-content .to-do .complete {
    color: #aaaaaa; }
    .main .main-content .to-do .complete .todo-text {
      text-decoration: line-through; }
  .main .main-content .data-table .well {
    padding-left: 0; }
  .main .main-content .data-table .form-control {
    height: 25px;
    padding: 2px;
    margin: 0 5px; }
  .main .main-content .data-table .row {
    margin-top: 1rem; }
  .main .main-content .data-table .vert-center {
    margin-top: 5px; }
  .main .main-content .data-table .glyphicon-remove {
    top: 3px;
    cursor: pointer; }
  .main .main-content .data-table .filter-center {
    padding-left: 25px; }
  .main .main-content .new-enq-reg .progress {
    margin-top: 7px; }
  .main .main-content .new-enq-reg .btn-next {
    margin-right: 15px; }
  .main .main-content .new-enq-reg .form-added {
    background-color: #FFFFFF;
    margin-left: -19px;
    margin-right: -19px;
    padding: 19px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8; }
  .main .main-content .new-enq-reg .glyphicon-remove {
    margin-right: 0; }
  .main .main-content .new-enq-reg .new-program {
    margin-left: -19px;
    margin-right: -19px;
    background-color: #FFFFFF;
    padding-top: 15px; }
  .main .main-content .new-enq-reg .lead {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.4;
    margin-top: 5px; }
  .main .main-content .new-enq-reg .top-link {
    border-left: 1px solid #dddddd; }
  .main .main-content .new-enq-reg .last-link {
    border-right: 1px solid #dddddd; }
  .main .main-content .new-enq-reg .active-link a {
    font-weight: bold; }
  .main .main-content .basic .no-ul, .main .main-content .application .no-ul {
    list-style-type: none;
    padding-left: 0; }
  .main .main-content .basic .col-xs-4, .main .main-content .basic .col-xs-8, .main .main-content .application .col-xs-4, .main .main-content .application .col-xs-8 {
    margin-bottom: 5px; }
  .main .main-content .application .collapse .filter-well p.indent {
    margin-bottom: 5px; }
  .main .main-content .form-control.hor-first {
    margin: 0; }
  .main .main-content .theme-color {
    margin-left: 0; }
    .main .main-content .theme-color .brown {
      margin-right: 30px;
      width: 90px;
      height: 90px;
      background-color: #743b00; }
    .main .main-content .theme-color .dark-blue {
      margin-right: 30px;
      width: 90px;
      height: 90px;
      background-color: #004156; }
    .main .main-content .theme-color .blue {
      margin-right: 30px;
      width: 90px;
      height: 90px;
      background-color: #1d005a; }
    .main .main-content .theme-color .wine {
      margin-right: 30px;
      width: 90px;
      height: 90px;
      background-color: #67002d; }
    .main .main-content .theme-color .green {
      margin-right: 30px;
      width: 90px;
      height: 90px;
      background-color: #3f6d00; }
    .main .main-content .theme-color .active {
      border: 7px solid #999999; }

.glyphicon {
  margin-right: 1rem; }

.light {
  color: #777777; }
